html {
  /*    position: relative;  */
  min-height: 100%;
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
}

h1 {
  text-align: center;
}
p {
  text-align: center;
  font-weight: 600;
  margin-top: 30px;
}
#two,
#thus {
  margin-top: 0px;
}
#show {
  margin-top: 20px;
}
.quantity {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.quantity input {
  width: 45px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  border: none;
  margin-left: 30px;
}

.quantity input:focus {
  outline: 0;
}

.cont1 {
  height: 110vh;
}

.cont2 {
  height: 100vh;
}


.control {
  display: flex;
  justify-content: center;
}


#down {
  margin-top: 100px;
}
.header {
  width: 100%;
  height: 5px;
}

/* #up {
  position: absolute; */
/* margin-top: 300px; */
/*     width: 6%; */
/* padding: 3px 7px;
  margin: 0 auto;
  margin-top: 60px;
  margin-left: 50%;
  cursor: pointer; */
/* } */

#arrow {
  position: absolute;

  margin-left: 47%;
  cursor: pointer;
  border: solid 1px transparent;
  margin-top: 0px;
  outline: none;
}
#up a {
  color: black;
  text-decoration: none;
}
.present {
  display: block;
}
.hide{
  display: none;
}